* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.menu-container 
{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
}
  
.menu 
{
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
}
  
.links
{
    border: 1px solid #fff; /* For debugging */
    display: flex;
    justify-items: flex-end;
}

.login
{
    margin-left: 20px;
}

.header-container
{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header
{
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container
{
    display: flex;
    justify-content: center;
    height: 600px;
    /* border: 2px solid red; */
}

.photo-grid
{
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap: wrap;
    align-content:center;
    flex-direction: row;
    align-items: center;
}

.photo-grid-item
{
    height: 300px;
    width: 300px;
}

.first-item
{
    order: -1;
}

.last-item  
{
    order: 1;
}

.social,
.subscribe
{
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer
{
    display: flex;
    justify-content: space-around;
}

.footer-item
{
    margin-top: 20px;
    background-color: #8caacc;
    height: 300px;
    flex: 1;
    border: 1px solid #fff;
}

.footer-three
{
    flex: 2;
}

.footer-one,
.footer-three 
{
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}